# Sprint 4: Analizando Journeys de usuario con SQL

## ü•Ö **Objetivo de la sesi√≥n**
Comprender c√≥mo modelar, medir y analizar el recorrido del usuario (*user journey*) dentro de un producto digital usando SQL.  
Al finalizar, los estudiantes podr√°n:
- Identificar y estructurar un **journey** en etapas claras.  
- Medir conversi√≥n, abandono y tiempos con SQL.  
- Crear tablas derivadas para journeys usando consultas SQL b√°sicas.  
- Construir embudos (funnels) y segmentaciones.  
- Introducir y aplicar **CTEs (Common Table Expressions)** para journeys complejos.

---

## üóÇÔ∏è **Agenda de la sesi√≥n**

### **1. Introducci√≥n al User Journey (Teor√≠a)**
- ¬øQu√© es un *user journey*?  
- Diferencias entre **macro-journey** y **micro-journey**.  
- Dimensiones clave de an√°lisis: usuario, sesi√≥n, evento.  
- M√©tricas fundamentales: conversi√≥n, drop-off, tiempo en etapa y volumen.  
- Ejemplos en e-commerce, educaci√≥n online y salud.

---


## üß≠ ¬øQu√© es un *User Journey*?
El **user journey** es la secuencia de pasos que realiza un usuario dentro de un producto o servicio hasta lograr (o no) un objetivo.

En bases de datos:  
Cada paso = **un evento registrado**, ordenado por tiempo.

**Ejemplo e-commerce:**
1. `page_view` ‚Üí visita general  
2. `view_item` ‚Üí ve un producto  
3. `add_to_cart` ‚Üí agrega al carrito  
4. `begin_checkout` ‚Üí inicia el pago  
5. `purchase` ‚Üí compra final  

Analizar este recorrido permite identificar:
- D√≥nde se pierden usuarios.
- Qu√© tan eficiente es cada paso.
- D√≥nde intervenir para mejorar conversi√≥n.

---

## üîΩ Funnel (Embudo de conversi√≥n)
Un funnel es la representaci√≥n visual del journey: muestra cu√°ntos usuarios pasan por cada etapa y d√≥nde se produce el **abandono**.

### üìâ Comportamientos t√≠picos del embudo
| Comportamiento | Qu√© indica |
|----------------|-----------|
| El embudo se estrecha gradualmente | Abandono natural. Flujo normal. |
| Ca√≠da abrupta en una etapa | **Punto de dolor** ‚Üí fricci√≥n, error t√©cnico o mala experiencia. |
| El embudo se ensancha | **Error de medici√≥n**, duplicados o eventos mal etiquetados. |

![alt text](https://donaldmunoz.com/wp-content/uploads/2020/04/Embudos2-1-1080x628.jpg)

![alt text](https://landingi.com/wp-content/uploads/2023/07/Conversion-funnel-analysis-2-3-optimized.webp)

![alt text](https://wsiup.com/wp-content/uploads/2023/03/marketing-funnel-1024x573.webp)

[Mas metricas clave](https://wsiup.com/que-metricas-de-marketing-digital-analizar-en-cada-etapa-del-funnel/)
---

## üß© Tipos de Journey
### 1Ô∏è‚É£ **Macro-Journey**
- Recorre toda la experiencia del usuario de punta a punta.  
- Requiere unir m√∫ltiples eventos y tablas en SQL.  
- √ötil para ver la imagen general y detectar cuellos de botella globales.

### 2Ô∏è‚É£ **Micro-Journey**
- Analiza solo un paso concreto del proceso.  
- Usa consultas m√°s simples.  
- Ideal para investigar fricciones espec√≠ficas.

---

## üß± Dimensiones clave de an√°lisis
Antes de escribir SQL, define *qu√© est√°s contando*.

| Dimensi√≥n | Representa | Pregunta clave |
|----------|------------|----------------|
| **Usuario** (`user_id`) | Persona √∫nica | ¬øCu√°ntas personas avanzan o compran? |
| **Sesi√≥n** (`session_id`) | Conjunto de acciones en un periodo | ¬øCu√°ntos intentos necesita el usuario para avanzar? |
| **Evento** (`event_name`) | Acci√≥n puntual | ¬øCu√°ntas veces ocurre algo cr√≠tico? |

üí° Elegir la dimensi√≥n correcta cambia completamente la interpretaci√≥n del funnel.

---

## üìê M√©tricas fundamentales en un Funnel
Estas son las m√©tricas esenciales para evaluar eficiencia, fricci√≥n y velocidad del journey.

### 1. **Tasa de Conversi√≥n**
> Qu√© porcentaje avanza de A ‚Üí B  
**F√≥rmula:** `usuarios_B / usuarios_A`

Indica eficiencia del paso.

---

### 2. **Tasa de Abandono (Drop-off)**
> Qu√© porcentaje NO avanza de A ‚Üí B  
**F√≥rmula:** `1 - (usuarios_B / usuarios_A)`

Identifica el punto exacto donde se pierden usuarios.

---

### 3. **Tiempo en etapa**
> Tiempo que pasa un usuario entre acciones consecutivas.

Revela demoras, dudas o pasos demasiado complejos.

---

### 4. **Volumen**
> Cantidad absoluta de usuarios √∫nicos en cada etapa.

Sirve para dimensionar el problema.

---

### 5. **Velocidad de conversi√≥n**
> Tiempo total desde el inicio del journey hasta la conversi√≥n.

Eval√∫a la eficiencia temporal del proceso completo.

---

## üìö Diccionario de eventos clave (E-commerce)

| Orden | Evento | Significado | Etapa |
|-------|--------|-------------|-------|
| 1 | `page_view` | Vista de p√°gina | Visita general |
| 2 | `view_item` | Ver producto | Inter√©s |
| 3 | `add_to_cart` | Agregar al carrito | Intenci√≥n |
| 4 | `begin_checkout` | Iniciar checkout | Decisi√≥n |
| 5 | `purchase` | Compra | Conversi√≥n |

---

## üéØ ¬øQu√© se mide en cada etapa? (Objetivos de negocio)

| Evento | Conversion % | Drop-off % | Tiempo promedio |
|-------|--------------|------------|-----------------|
| page_view | ¬øCu√°ntos llegan al producto? | ¬øQui√©n no sigue? | Tiempo viendo info general |
| view_item | Inter√©s real | Abandono del producto | Tiempo para decidir |
| add_to_cart | Intenci√≥n de compra | Fricci√≥n antes del checkout | Tiempo antes de iniciar pago |
| begin_checkout | Decisi√≥n fuerte | Abandono del pago | Tiempo en completar datos |
| purchase | Conversi√≥n final | Oportunidad perdida | Velocidad total hacia la compra |

---

## üß† Ideas clave
- Un journey bien definido nace de **objetivos de negocio**, no de la base de datos.
- Macro y micro journeys permiten an√°lisis estrat√©gico y t√°ctico.
- Elegir entre usuario, sesi√≥n o evento cambia la historia.
- El funnel muestra **qu√© pasa**, las m√©tricas muestran **por qu√© pasa**.
- Cada etapa ‚Äúcuenta una historia‚Äù sobre conversi√≥n, abandono y fricci√≥n.

---

## ‚úîÔ∏è Conclusi√≥n
Dominar user journeys te permite:
- Conectar comportamiento real con decisiones de negocio.  
- Detectar d√≥nde mejorar la experiencia del usuario.  
- Construir an√°lisis s√≥lidos en SQL para embudos de conversi√≥n.  
---

## üß™ Pr√°ctica guiada -  An√°lisis de Usuarios, Ventas y M√©tricas de Negocio con SQL

**Base de datos:** [`ecommerce_demo.db`](https://github.com/gbuvoli/Datasets/raw/refs/heads/main/ecommerce_demo.db)


**Tablas:**  
- `customers`  
- `sales`  
- `discount_coupon`  
- `marketing_spend`  
- `tax_amount`

![esquema](images\ecommerceDemo.png)

# üß™ SQL para Journeys y Funnels (MySQL)
Este notebook muestra consultas SQL y c√≥mo ejecutarlas desde Python usando `sqlite3` y `pandas`.

In [2]:
import sqlite3
import pandas as pd

# Hacemos la conexi√≥n a la Database
conn = sqlite3.connect("ecommerce_demo.db")

In [3]:
# Explora la tabla eventos y su contenido

query= ''' 

SELECT *
FROM events'''

pd.read_sql(query, conn)

,event_id,customer_id,session_id,event_name,event_time,product_category,is_purchase_session
0,1,17850,txn_16679,page_view,2018-12-31 23:45:00,Nest-USA,1
1,2,17850,txn_16679,view_item,2018-12-31 23:50:00,Nest-USA,1
2,3,17850,txn_16679,add_to_cart,2018-12-31 23:55:00,Nest-USA,1
3,4,17850,txn_16679,begin_checkout,2018-12-31 23:58:00,Nest-USA,1
4,5,17850,txn_16679,purchase,2019-01-01 00:00:00,Nest-USA,1
...,...,...,...,...,...,...,...
269519,269520,14410,cust14410_extra2,view_item,2019-12-12 05:03:00,Notebooks & Journals,0
269520,269521,14410,cust14410_extra2,add_to_cart,2019-12-12 05:08:00,Notebooks & Journals,0
269521,269522,14410,cust14410_extra3,page_view,2019-06-22 00:15:00,Nest-Canada,0
269522,269523,14410,cust14410_extra3,view_item,2019-06-22 00:20:00,Nest-Canada,0
269523,269524,14600,cust14600_extra1,page_view,2019-08-09 10:54:00,Bags,0

- Eventos por tipo

In [4]:
# Eventos por tipo

query= ''' SELECT event_name, 
COUNT(*) AS total 
FROM events 
GROUP BY event_name '''
pd.read_sql(query, conn)

       event_name  total
0     add_to_cart  53794
1  begin_checkout  53265
2       page_view  55096
3        purchase  52924
4       view_item  54445

In [6]:
# sesiones UNICAS por evento

query= ''' SELECT event_name, 
COUNT(DISTINCT session_id)
FROM events
GROUP BY event_name '''
pd.read_sql(query, conn)

       event_name  COUNT(DISTINCT session_id)
0     add_to_cart                       25931
1  begin_checkout                       25402
2       page_view                       27233
3        purchase                       25061
4       view_item                       26582

In [8]:
# sesiones UNICAS por usuario y evento

query= '''SELECT customer_id, event_name,
COUNT(DISTINCT session_id) AS sesiones
FROM events
GROUP BY customer_id, event_name '''
pd.read_sql(query, conn)

      customer_id      event_name  sesiones
0           12346     add_to_cart         1
1           12346  begin_checkout         1
2           12346       page_view         2
3           12346        purchase         1
4           12346       view_item         2
...           ...             ...       ...
7335        18283     add_to_cart        54
7336        18283  begin_checkout        54
7337        18283       page_view        54
7338        18283        purchase        53
7339        18283       view_item        54

[7340 rows x 3 columns]

## 2Ô∏è‚É£ Subqueries
- Sesiones de `page_view` que NO llegaron a `purchase`

In [9]:
# Query 1: Sesiones que llegaron a purchase

query= '''SELECT 
DISTINCT session_id
FROM events
WHERE event_name = 'purchase'
'''
pd.read_sql(query, conn)

      session_id
0      txn_16679
1      txn_16680
2      txn_16681
3      txn_16682
4      txn_16684
...          ...
25056  txn_48493
25057  txn_48494
25058  txn_48495
25059  txn_48496
25060  txn_48497

[25061 rows x 1 columns]

In [10]:
# Query 2: Sesiones de page view

query= '''SELECT 
DISTINCT session_id
FROM events
WHERE event_name = 'page_view'  '''
pd.read_sql(query, conn)

             session_id
0             txn_16679
1             txn_16680
2             txn_16681
3             txn_16682
4             txn_16684
...                 ...
27228  cust15781_extra1
27229  cust14410_extra1
27230  cust14410_extra2
27231  cust14410_extra3
27232  cust14600_extra1

[27233 rows x 1 columns]

In [11]:
#Query 3: sesiones de page view que no llegaron a purchase

query= '''SELECT 
DISTINCT session_id, customer_id
FROM events
WHERE event_name = 'page_view'
AND session_id NOT IN (SELECT 
DISTINCT session_id
FROM events
WHERE event_name = 'purchase')
'''
pd.read_sql(query, conn)

            session_id  customer_id
0     cust17850_extra1        17850
1     cust17850_extra2        17850
2     cust12583_extra1        12583
3     cust15100_extra1        15100
4     cust15100_extra2        15100
...                ...          ...
2167  cust15781_extra1        15781
2168  cust14410_extra1        14410
2169  cust14410_extra2        14410
2170  cust14410_extra3        14410
2171  cust14600_extra1        14600

[2172 rows x 2 columns]

- Clientes con ventas por encima del promedio

In [16]:
query= '''
    SELECT
  s.CustomerID,
  SUM(s.Quantity * s.Avg_Price) AS total_revenue
FROM sales s
GROUP BY s.CustomerID
HAVING total_revenue > (
    SELECT AVG(t.revenue) 
    FROM (
        SELECT CustomerID, SUM(Quantity * Avg_Price) AS revenue
        FROM sales
        GROUP BY CustomerID
    ) AS t)
    '''
pd.read_sql(query, conn)

     CustomerID  total_revenue
0         12347       13834.90
1         12370        6914.31
2         12377        9950.31
3         12383        4954.12
4         12431        5600.17
..          ...            ...
451       18202        4726.20
452       18223        4403.60
453       18239        5893.31
454       18245        7692.95
455       18283        6362.77

[456 rows x 2 columns]

* Drop-off entre page_view y view_item

In [17]:
query= '''
SELECT
  pv.total_pv,
  vi.total_vi,
  1 - (vi.total_vi * 1.0 / pv.total_pv) AS dropoff_pv_to_vi
FROM
  (  -- Subquery: cuenta de sesiones con page_view
    SELECT COUNT(DISTINCT session_id) AS total_pv
    FROM events
    WHERE event_name = 'page_view'
  ) AS pv,
  (  -- Subquery: cuenta de sesiones con view_item
    SELECT COUNT(DISTINCT session_id) AS total_vi
    FROM events
    WHERE event_name = 'view_item'
  ) AS vi;
    '''
pd.read_sql(query, conn)

   total_pv  total_vi  dropoff_pv_to_vi
0     27233     26582          0.023905

* Calcula Drop-off entre view_item y add_to_cart